#contact_modal {
    display: none;
    background-color: hsla(0, 0%, 37%, 0.4);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

body {
    position: relative;
}

header a {
    display: block;
    margin-top: 20px;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 30px 100px 0 100px;
    position: relative;
    padding: 60px 50px;
}

.photographer-profile {
    display: flex;
    justify-content: space-between;
}

.photograph-header h1 {
    font-size: 4rem;
    font-weight: 400;
    color: #D3573C;
    margin: 0;
}

.info-localisation {
    color: #901C1C;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
}

.info-citation {
    color: #525252;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 200px;
}

.photograph-media-filter {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
}

.photograph-media-filter label {
    font-weight: 700;
    margin-right: 10px;
    margin: auto 10px auto 0;
}

select {
    padding: 0px 20px;
    height: 40px;
    background-color: #901C1C;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.is-selected {
    border: 2px solid #312E2E;
}

.drop-down-filter {
    z-index: 0;
    position: relative;
}

.btn-filter {
    cursor: pointer;
    color: #fff;
    background-color: #901C1C;
    border: 2px solid #901C1C;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    padding: 12px 0 14px 14px;
    text-align: left;
    width: 132px;
    font-family: DM sans;
    z-index: 2;
}

.btn-filter:hover,
.btn-filter:focus,
.list-filter:hover,
.list-filter:focus {
    background-color: #D3573C;
    border: 2px solid #D3573C;
    color: #000;
}

.btn-filter i,
.list-filter i {
    position: absolute;
    right: 10px;
    top: 15px;
}



.list-filter {
    z-index: 3;
    position: absolute;
    list-style-type: none;
    padding: 6px 16px 10px;
    background-color: #901C1C;
    color: #fff;
    font-size: 1em;
    top: -16px;
    width: 100px;
    border-radius: 5px;
    display: none;
}


.list-filter li {
    padding: 8px 0;
    cursor: pointer;
}

.list-filter li:nth-child(1):after,
.list-filter li:nth-child(2):after {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #fff;
    margin-top: 15px;
}

.list-filter:hover li:nth-child(1):after,
.list-filter:hover li:nth-child(2):after,
.list-filter:focus li:nth-child(1):after,
.list-filter:focus li:nth-child(2):after {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #000;
    margin-top: 15px;
}



option {
    -webkit-appearance: none;
    appearance: none;
    color: white;
    background-color: #901C1C;
}

.photograph-media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    justify-items: center;

}

.photograph-media-section img,
.photograph-media-section video {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;

}

.photograph-media-section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photograph-media-section p,
#light-box p {
    color: #901C1C;
    font-size: 1.4rem;
    margin: 10px 0;
    display: block;
}

.photograph-media-section p:nth-child(2) {
    margin-left: auto;
}

.photograph-media-section i {
    color: #901C1C;
    font-size: 1.2rem;
    margin-left: 5px;
}

.fa-solid {
    cursor: pointer;
    margin-left: 10px;
}

.media-link {
    cursor: pointer;
}

.contact_button {
    position: absolute;
    left: 43%;
    top: 145px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
    background-color: #D3573C;
    color: #000;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.45);
    max-width: 600px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
    align-items: baseline;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    line-height: 1.1;
    margin: 0;
}

form {
    width: 100%;
}


form label {
    color: #312E2E;
    font-size: 36px;
    font-weight: 400;
}

.form-data {
    position: relative;
}

.form-data i {
    position: absolute;
    top: 68px;
    right: 20px;
    font-size: 1.8rem;
}

.form-data .input-invalid,
.form-data .input-valid {
    display: none;
}

form input,
form textarea {
    width: 100%;
    height: 68px;
    border: 3px solid #DB8876;
    ;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'DM sans';
}

form input:not(:focus):not(:placeholder-shown):invalid,
[data-error-visible] {
    border: 3px solid #901C1C;
}

form input:not(:focus):not(:placeholder-shown):invalid~.input-invalid,
[data-error-visible]~.input-invalid {
    color: #901C1C;
    display: block;
}

form input:not(:focus):not(:placeholder-shown):valid,
[data-valid-visible] {
    border: 3px solid #17a362;
}

form input:not(:focus):not(:placeholder-shown):valid~.input-valid,
[data-valid-visible]~.input-valid {
    color: #17a362;
    display: block;
}

form textarea {
    height: 170px;
    resize: none;
}


.pop-up {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 200px;
    bottom: 0px;
    right: 30px;
    background-color: #DB8876;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
}

.send_button {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#light-box {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.8);
}

.light-box-close {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 30px;
    color: #901C1C;
    cursor: pointer;
}

#light-box i {
    color: #901C1C;
    font-size: 4rem;
}

#light-box img,
#light-box video {
    max-height: 100%;
    max-width: 95%;
}

.media-light-box {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.media-light-box p {
    text-align: left;
    width: 95%;

}

.media-light-box img,
.media-light-box video {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.45);
}